body {
font-family: Georgia, "Times New Roman"
Times, serif;
color: blue;
background-color: #48EA01
}
h1{
font-family: Helvetica, Geneva, Arial, SunSans-regular, sans-serif
}
div{
align="";
} 